body {
    font-family: "Schoolbell", cursive;

    background-color: #789daa;
    background-image: url(/backroundPictures/one.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.vBox {
    display: flex;
    width: 500px;
    height: 600px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(10px); 
    justify-content: center;
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 1px solid #f4f4f98c;
    border-left: 1px solid #f4f4f993; 
    transform: translate(-50%, 0%);
    top: 50%;
    left: 50%;
}


#name {
    color: #f4f4f9;
    position: absolute;
    text-align: center;
    font-size: 50px;
    top: 65%;
    transform: translate(-50%, -50%);
    justify-content: center;
    left: 50%;
    filter: drop-shadow(0 0 10px #f7f5f598);
}

#name::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: -15px;
    right: 10%;
    background-color:#ffffff88;
    border-radius: 3px;
    filter: drop-shadow(0 0 10px #f7f5f598);
}

.endline {
    color:#ffffff;
    font-size: 1dvw;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
}

nav{
    display: flex;
    position: absolute;
    width: max-content;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
    width: max-content;
    height: 50px;
}

.icons {
    display: flex;
    position: static;
    bottom: 5%;
    left: 50%;
    gap: 20px;
    width: max-content;
    height: 50px;
}

#picture {
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 40%;
    transform: translateX(50%);
    transform: translateY(-50%);
}