body {
	background: linear-gradient(135deg, #16212b, #002a36 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Remove default browser spacing */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Base container styling */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f4f9;
}

.text {
    color: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 150px;
}

#trigger-zone{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;

    /* THIS is your trigger area */
    width:350px;
    height:100px; 

    /* invisible */
    background:transparent;
    z-index: 1;

}

#line {
    position:fixed;
    margin-top: 10px;

    top:12px;
    left:50%;
    transform:translateX(-50%);

    width:150px;
    height:6px;

    border-radius:999px;
    background:white;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.26);

    transition: transform .65s cubic-bezier(.34, 1.56, .64, 1);
}

/* when active */
#line.active{
    animation: dockAnimationLineUp 0.8s forwards;
}

@keyframes dockAnimationLineUp{

    0%{
        transform: translateX(-50%) scale(120%);
    }

    20%{
        transform: translateX(-50%) translateY(0px);
    }

    30%{
        transform: translateX(-50%) translateY(20px) scale(100%); 
    }

    60%{
        transform: translateX(-50%) translateY(15px);
    }

    100%{
        transform: translateX(-50%) translateY(-120px);
    }
}
.navbar.active{
    animation: dockAnimationDockDown 0.8s forwards;
}

@keyframes dockAnimationDockDown{

    0%{
        transform: translateX(-50%) translateY(-200px);
    }

    70%{
        transform: translateX(-50%) translateY(120px);
    }

    100%{
        transform: translateX(-50%) translateY(105px);
    }
}
/* disappearing upward "monitor paradise" effect */
#line.hide {
    animation: dockAnimationLineDown 0.8s forwards;
}

@keyframes dockAnimationLineDown{

    0%{
        transform: translateX(-50%) translateY(-120px);
    }

    30%{
        transform: translateX(-50%) translateY(10px);
    }

    100%{
        transform: translateX(-50%) translateY(5px);
    }
}

.navbar.hide {
    animation: dockAnimationDockUp 0.8s forwards;
}
@keyframes dockAnimationDockUp{

    0%{
        transform: translateX(-50%) translateY(105px);
    }

    90%{
        transform: translateX(-50%) translateY(120px);
    }

    100%{
        transform: translateX(-50%) translateY(-200px);
    }
}

.navbar {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.062);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 0 7px rgba(255, 255, 255, 0.61);
    padding: 10px;
}

/* Remove ugly list styling */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

/* Dock buttons */
.navbar a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    transition: all 0.25s ease;
}

/* Hover animation */
.navbar a:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}
